*{
    margin: 0;
    padding: 0;
}

#nav {
    position: sticky;
    top: 0;
    z-index: 1001;
}

.navbar {
    background-image: linear-gradient(to right, #76eaff, #76eaff);
}

.navbar-brand {
    font-weight: bolder;
    color: aliceblue;

}

.navbar-nav li {
    padding: 0 10px;

}

.navbar-nav li a {
    color: aliceblue !important;
    font-weight: bold;
    text-transform: uppercase;

}

.dropdown-menu {
    background-color: #000000;
}

#banner {
    position: relative;
    background-image: linear-gradient(to right, #1ea6ec, #2c92fb);
    color: aliceblue;
    padding-top: 5%;
}

.title{
    font-weight: bolder;
    margin-top: 50px;
}

.ban-img{
position: relative;
z-index: 900;
}

.wave{
    position: absolute;
    bottom: -10%;
    left: 0;
}


